{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Name and Job</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .Id }}" />
      <label> Name </label><input type="text" name="name" value="{{ .Name }}"  /><br />
      <label> Job </label><input type="text" name="job" value="{{ .Job }}"  /><br />
      <label> Notes </label><input type="text" name="notes" value="{{ .Notes }}"  /><br />
      
      <input type="submit" value="Save user" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}